body{
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
}
h1{
    color: darkslategray;
    font-family: 'Odibee Sans', cursive;
    font-size: 40px;
}
h2{
    color: darkslategray;
    font-family: 'Pacifico', cursive;

}
.name-light{
    color: darkblue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 40%;
    float: center;
    margin-top: 12%;
    margin-left: 25%;
}
.bg-clr{
    background-color: lightcyan;
}
.top-banner{
    background-image: url(images/Background.jpg);
    background-repeat: no-repeat;
    
}
section{
    height: 1000px;
}