body{
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
}
h1{
    color: darkslategray;
    font-family: 'Odibee Sans', cursive;
    font-size: 40px;
}
.writing{
    color: darkslategray;
    font-family: 'Pacifico', cursive;

}
.black-light{
    color: rgb(14, 14, 37);
}
.gray-light{
    color: rgb(116, 119, 124);
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.gray2-light{
    color: rgb(56, 47, 61);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 50%;
    float: center;
    margin-top: 12%;
    margin-left: 25%;
}
.bg-clr{
    background-image: linear-gradient(45deg, rgb(27, 11, 49), rgb(143, 143, 150));
    border-radius: 5px;
    color: white;
    padding: 2px 4px;
}
.top-banner{
    background-image: url(images/Background6.jpg);
    background-repeat: no-repeat;
    
}
section{
    height: 300px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(85, 76, 85), rgb(59, 54, 65));
    padding: 7px 14px;
    border-radius: 5px;
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
}

.last img{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
    
.last2{
    width: 54%;
    float: left;
    margin-left: 5%;
    margin-top: 0px;
    padding-left: 2%;
}

.ordhek{
    width: 38%;
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    padding: 1%;
    box-shadow: 20px 20px 40px gray;
    border-radius: 5px;
    box-sizing: content-box;
}

.exp-area{
    margin-top: 1%;
}
.experience{
    margin-top: 5%;
    margin-left: 45%;
    font-family: 'Odibee Sans', cursive;
    font-size: 30px;
}
.text{
    color: rgb(0, 0, 0);
}
.bg-clr{
    margin: -1%;
}
#full-stack-baby{
    border-top: 7px solid;
    background-image: linear-gradient(45deg, rgb(239, 247, 253), rgb(206, 210, 216));
    border-image-slice: 1;
}
#full-stack-babys{
    border-top: 7px solid;
    background-image: linear-gradient(45deg, rgb(236, 246, 255), rgb(206, 210, 216));
    border-image-slice: 1;
}
footer p{
    margin-top: 20%;
}