body{
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
}
h1{
    color: darkslategray;
    font-family: 'Odibee Sans', cursive;
    font-size: 40px;
}
h2{
    color: darkslategray;
    font-family: 'Pacifico', cursive;

}
.name-light{
    color: rgb(14, 14, 37);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 50%;
    float: center;
    margin-top: 12%;
    margin-left: 25%;
}
.bg-clr{
    background-color: lightcyan;
}
.top-banner{
    background-image: url(images/Background6.jpg);
    background-repeat: no-repeat;
    
}
section{
    height: 300px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(85, 76, 85), rgb(59, 54, 65));
    padding: 7px 14px;
    border-radius: 5px;
    color: white;
}

.last img{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
    
.last2{
    width: 54%;
    float: left;
    margin-left: 5%;
    margin-top: 0px;
    padding-left: 2%;
}

