body{
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
}
h1{
    color: darkslategray;
    font-family: 'Odibee Sans', cursive;
    font-size: 40px;
}
.writing{
    color: darkslategray;
    font-family: 'Pacifico', cursive;

}
.black-light{
    color: rgb(14, 14, 37);
}
.gray-light{
    color: rgb(116, 119, 124);
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.gray2-light{
    color: rgb(56, 47, 61);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.bg-clr{
    background-color: lightcyan;
}
.top-banner{
    background-image: url(images/Background6.jpg);
    background-repeat: no-repeat;
    
}
section{
    height: 300px;
    padding-bottom: 300px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(85, 76, 85), rgb(59, 54, 65));
    padding: 7px 14px;
    border-radius: 5px;
    color: white;
}

.last img{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
    

.ordhek{
    width: 40%;
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    padding-left: 2%;
}

.exp-area{
    margin-top: 10%;
}
.experience{
    margin-top: 3%;
    margin-left: 45%;
    font-family: 'Odibee Sans', cursive;
    font-size: 30px;
}